.follow-container {
    width: 100%;
    padding: 4px 0px;

    cursor: pointer;
}

.follow-container:hover {
    color: dodgerblue;
}

.follow-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: 5px;
}

.follow-name {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin-top: 8px;
}

.follow-button {
    width: 78px;
    font-size: 12px;
}