.info-container {
    width: 100%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;

    padding: 16px;
    margin: 100px auto 0 auto;
}

.info-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    float: right;
}

.info-form {
    width: 100%;
    height: auto;
    padding: 8px;
}

.info-label {
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    padding-top: 8px;
}

.info-choose {
    float: left;
    margin: 15px 0 0 0;
}

.info-button {
    width: 100px;
    margin: 16px auto;
    float: left;
    font-size: 14px;
    font-weight: 600;
}

.info-button:focus, .info-button:active{
    outline: none !important;
    box-shadow: none;
}

.no-border {
    border: none;
    background-color: transparent;
}