.align-left {
    text-align: left;
}

.bottom-line {
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

img.rounded {
    border-radius: 50%;
}

.avatar {
    border-style: solid;
    border-color: #fafafa;
    border-width: 2px;
}

.row.row-full {
    width: 1024px;
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.home-name {
    display: inline;
    font-weight: normal;
    font-size: 28px;
    margin-right: 20px;
}

.btn-follow {
    vertical-align: baseline;
    display: inline;
    min-width: 120px;
}

.btn-edit {
    vertical-align: baseline;
    display: inline;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #286090;
    font-weight: bolder;
}

.btn-cancel {
    vertical-align: baseline;
    display: inline;
    min-width: 120px;

    background-color: transparent;
    border: none;
    color: #286090;
}

.btn-edit-avat {
    margin-left: 24px;
}

.btn-cancel:hover {
    background-color: transparent;
}

.btn-edit:hover, .btn-edit-avat:hover {
    background-color: transparent;
    text-decoration: underline;
}

.btn-following {
    
}

.spacing-top {
    margin-top: 20px;
    display: block;
}

.home-number {
    display: inline;
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
}

.data-info-container {
    position: relative;
    height: 100%;
}

span {
    font-size: 16px;
    overflow-wrap: break-word;
}

.clickable-div {
    cursor: pointer;
}

.hidden-area {
    visibility: hidden;
}